LGTM_IMAGE=grafana/otel-lgtm:latest
LGTM_CONTAINER_NAME=myiot-grafana-lgtm
GRAFANA_PORT=3000
OTLP_GRPC_PORT=4317
OTLP_HTTP_PORT=4318
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=admin
ENABLE_LOGS_ALL=true
TZ=Asia/Shanghai
